{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'bootstrap-4.5.3-dist/css/bootstrap.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Drinks</title>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    {% block head %}
    {% endblock %}

    <!-- Custom styles for this template -->
    <link href="{% static 'drinks/dashboard.css' %}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item align-middle">
            <a class="nav-item btn btn-light " href="{% url 'dashboard' %}">
                <img src="{% static 'house.png' %}" width="20" height="20" alt="home"> Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-links " href="{% url 'history' %}">History</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-links" href="{% url 'user_dashboard' %}">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-links" href="{% url 'drinks' %}">Drinks</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-links" href="{% url 'prices_dashboard' %}">Prices</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link navbar-links dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
               data-toggle="dropdown">
                Statistics
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{% url 'statistics:stock' %}">Stock</a>
                <a class="dropdown-item" href="{% url 'statistics:drinks_of_user' %}">Drinks of user</a>
                <a class="dropdown-item" href="{% url 'statistics:users_of_drink' %}">Users of drink</a>

            </div>
        </li>
    </ul>
</nav>
{% block main_content %}
{% endblock %}
<script type="application/javascript" src="{% static 'jquery.slim.min.js' %}"></script>
<script type="application/javascript" src="{% static 'bootstrap.bundle.min.js' %}"></script>

</body>
</html>
