{% extends 'drinks/base.html' %}
{% load drinks %}

{% block main_content %}
    <div class="container-fluid p-3">
        <div class="row mb-3">
            <div class="col">
                <h3>Click your name to order a drink:</h3>
            </div>
            <div class="col text-right mr-3">
                <div class="btn-group">
                    <a class="btn btn-secondary" href="{% url 'dashboard' %}">A-Z &#8595;</a>
                    <a class="btn btn-secondary" href="{% url 'dashboard' %}?sort=room">Room # &#8595;</a>
                </div>
            </div>
        </div>
        {% include 'drinks/includes/user_ov.html' with url="order_user" %}
    </div>
{% endblock %}