{% extends 'drinks/base.html' %}

{% block main_content %}
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col">
                <h1 class="text-warning">Error</h1>
                <h3>{{ message }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a class="btn btn-outline-primary" href="{% url 'dashboard' %}">Back to main menu</a>
            </div>
        </div>
    </div>
{% endblock %}