{% extends 'drinks/base.html' %}
{% block head %}
    <script type="application/javascript">
        function confirm_delete(url) {
            var r = confirm("Do you really want to delete this sale? This can't be undone");
            if (r === true) {
                window.location.href = url;
            }
        }
    </script>
{% endblock %}

{% block main_content %}
    <div class="container-fluid p-3">user
        <div class="row">
            <div class="col">
                <h4>Overview over the last 15 sales</h4>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-responsive">
                    <thead>
                    <tr>
                        <th>Time</th>
                        <th>Buyer</th>
                        <th>Product</th>
                        <th>delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sale in sales %}
                        <tr>
                            {# https://docs.djangoproject.com/en/3.1/ref/templates/builtins/#std:templatefilter-date #}
                            <td>{{ sale.time|date:'d.m.y G:i' }}</td>
                            <td>{{ sale.profile.username }}</td>
                            <td>{{ sale.product.name }}</td>
                            <td><a class="btn btn-sm btn-danger"
                                   onclick="confirm_delete('{% url 'undo_sale' sale.pk %}');">delete</a>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}