{% extends 'drinks/base.html' %}
{% load drinks %}

{% block head %}
    <meta http-equiv="refresh" content="10; url={% url 'dashboard' %}"/>
{% endblock %}

{% block main_content %}
    <div class="container-fluid p-3">
        <div class="row">
            <div class="col">
                <h3>Hello {{ user.username }}, choose your drink:</h3>
            </div>
            <div class="col text-right">
                <a class="btn btn-outline-secondary" href="{% url 'dashboard' %}">go back</a>
            </div>
        </div>
        {% if not products %}
            <div class="row mt-2">
                <div class="col">
                    <h5>There are no drinks configured. Please add some:</h5>
                    <a class="btn-outline-success btn" href="{% url 'drinks' %}">drinks configuration</a>
                </div>
            </div>

        {% endif %}

        {% include 'drinks/includes/drinks_ov.html' %}
        <hr>
        <div class="row mt-4">
            <div class="col">
                <h5>Account balance: </h5>
                {% if user.balance > 0 %}
                    <h4 class="text-success">{{ user.balance|floatformat:2 }} €</h4>
                {% else %}
                    <h4 class="text-danger">{{ user.balance|floatformat:2 }} €</h4>
                {% endif %}
                <a class="btn btn-primary my-1" href="{% url 'user_pay' %}?target={{ user.pk }}">Top up <u>your</u>
                    balance</a>

                <a class="btn btn-primary my-1" href="{% url 'user_transfer' %}?source={{ user.pk }}">Transfer money to
                    <u>other</u> users</a>
            </div>
            <div class="col-9">
                <p>Sales in last 30 days: {{ user.d30_money_spent|floatformat:2 }} € with {{ user.d30_amount_of_sales }}
                    Sales</p>
                <p>Sales total: {{ user.total_money_spent|floatformat:2 }} € with {{ user.total_amount_of_sales }}
                    Sales</p>
            </div>
        </div>

    </div>
{% endblock %}