{% extends 'drinks/base.html' %}

{% block head %}
    <meta http-equiv="refresh" content="0.5; url={% url 'order_user' user_id %}"/>
{% endblock %}

{% block main_content %}
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col">
                <h1>Thanks :)</h1>
            </div>
        </div>
    </div>
{% endblock %}