body {
    font-size: .875rem;
}

.drink-icon {
    max-width: 100px;
    max-height: 100px;
    width: 100%;
    height: auto;
}

.drink-label {
    font-size: 2vmin;
}

/*
 * Navbar
 */

.navbar-links {
    font-size: 20px;
}
