{% if display %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ user.username }}</h5>
            {% for product in products %}
                <p class="card-text">{{ product.name }}: {{ product.sales }}</p>
            {% endfor %}
        </div>
    </div>
{% endif %}
