{% if display %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ drink.name }}</h5>
            {% for user in users %}
                <p class="card-text">{{ user.username }}: {{ user.sales }}</p>
            {% endfor %}
        </div>
    </div>
{% endif %}
