{% extends 'drinks/base.html' %}
{% load static %}


{% block head %}
    <script type="application/javascript" src="{% static 'plotly-2.6.3.min.js' %}"></script>
    {% block stats_head %}
    {% endblock %}
{% endblock %}

{% block main_content %}
    <h1> Hello from new template</h1>
{% endblock %}