{% extends 'stats/base.html' %}
{% load static %}

{% block main_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col" id="stock-chart">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="{% url 'statistics:api_stock' %}">Fetching data</iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="embed-responsive embed-responsive-16by9 ">
                    <iframe class="embed-responsive-item" src="{% url 'statistics:api_loss' %}"></iframe>
                </div>
                <small>negative numbers mean loss in drinks</small>
            </div>
        </div>
    </div>
{% endblock %}