{% extends 'stats/base.html' %}
{% load user_statistics %}

{% block main_content %}
    <div class="container-fluid p-3">
        <div class="row">
            <div class="col">
                <h5>Shows who bought each drink in the last 30 days</h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card-columns" style="column-count: 5;">
                    {% for product in products %}
                        {% users_of_drink product %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}