{% extends 'drinks/base.html' %}
{% load crispy_forms_tags %}

{% block head %}
    <script type="application/javascript">
        function confirm_delete() {
            var r = confirm("Do you really want to delete the user?");
            if (r === true) {
                window.location.href = "{% url 'user_edit' profile.pk%}?delete=true"
            }
        }
    </script>
{% endblock %}

{% block main_content %}
    <div class="container-fluid p-3">
        <h2>Editing user {{ profile.username }}</h2>
        <div class="row">
            <div class="col">
                <form method="post" action="{% url 'user_edit' profile.pk %}">
                    {% crispy f %}
                    <input type="submit" value="Save" class="btn btn-primary">
                </form>
                {% if edit_mode %}
                    <a class="btn btn-danger">delete User</a>
                {% endif %}
            </div>
        </div>
        <hr>
        <div class="row my-3">
            <div class="col">
                <h4>Account information</h4>
                <p class="mb-0">Account ID: <b>{{ profile.pk }}</b></p>
                <p> current balance:
                    {% if profile.balance > 0 %}
                        <b class="text-success">{{ profile.balance|floatformat:2 }} €</b>
                    {% else %}
                        <b class="text-danger">{{ profile.balance|floatformat:2 }} €</b>
                    {% endif %}
                </p>
                <a class="btn btn-primary " href="{% url 'user_pay' %}?target={{ user.pk }}">Top up <u>your</u>
                    balance</a>

                <a class="btn btn-primary " href="{% url 'user_transfer' %}?source={{ user.pk }}">Transfer money to
                    <u>other</u> users</a>
            </div>
        </div>
        <hr>
        <div class="row my-3">
            <div class="col">
                <h4 class="text-danger">Danger zone</h4>
                <small class="text-muted my-2">This action cannot be undone. All transactions and history of this user
                    will be deleted.
                    Only do if you are really sure what you are doing. If you want to hide the user from dashboards
                    uncheck the 'Active' checkbox</small>
                <br>
                <a class="btn btn-outline-danger btn-sm my-2" onclick="confirm_delete()">delete user</a> <br>

            </div>
        </div>
    </div>
{% endblock %}