{% extends 'drinks/base.html' %}

{% block main_content %}
    <div class="container-fluid p-3">
        <div class="row">
            <div class="col">
                <h3>Select an user to perform different actions:</h3>
            </div>
            <div class="col">
                <a href="{% url 'user_add' %}" class="btn-outline-success btn-block btn">Add new User</a>
            </div>
            <div class="col text-right">
                <div class="btn-group">
                    <a class="btn btn-secondary" href="{% url 'user_dashboard' %}">A-Z &#8595;</a>
                    <a class="btn btn-secondary" href="{% url 'user_dashboard' %}?sort=room">Room # &#8595;</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% include 'drinks/includes/user_admin_ov.html' with url='user_edit' %}
            </div>
            <div class="col text-left mt-2">
                <h3>Balance overview</h3>
                <p>Sum of all balances: <b>{{ total_balances|floatformat:2 }} €</b></p>
                <p class="text-success">Sum of all positive balances: <b>{{ positive_balances|floatformat:2 }} €</b></p>
                <p class="text-danger">Sum of all negative balances: <b>{{ negative_balances|floatformat:2 }} €</b></p>
                <br>
                <p>Most positive balance: <b>{{ pos_user }}: {{ pos_user.balance|floatformat:2 }} €</b></p>
                <p>Most negative balance: <b>{{ neg_user }}: {{ neg_user.balance|floatformat:2 }} €</b></p>
            </div>
            <div class="col">

            </div>
        </div>
        <hr>
        <div class="row">

        </div>
    </div>
{% endblock %}