{% extends 'drinks/base.html' %}
{% load crispy_forms_tags %}

{% block head %}
    <script type="application/javascript">
        function addValue(amount) {
            const currentVal = Number(document.getElementById('id_amount').value);
            document.getElementById('id_amount').value = currentVal + amount;
        }

        function reset() {
            document.getElementById('id_amount').value = 0;
        }
    </script>
{% endblock %}

{% block main_content %}
    <div class="container-fluid p-3">
        <h2>Paying debt for user {{ profile.username }}</h2>
        <div class="row">
            <div class="col">
                <form method="post" action="{% url 'user_pay' %}">
                    {% crispy f %}
                    <p class="btn btn-sm btn-outline-warning" onclick="reset()">0 €</p>
                    <p class="btn btn-sm btn-outline-warning" onclick="addValue(0.5)">0,50 €</p>
                    <p class="btn btn-sm btn-outline-warning" onclick="addValue(1)">1 €</p>
                    <p class="btn btn-sm btn-outline-warning" onclick="addValue(2)">2 €</p>
                    <p class="btn btn-sm btn-outline-warning" onclick="addValue(5)">5 €</p>
                    <p class="btn btn-sm btn-outline-warning" onclick="addValue(10)">10 €</p>
                    <p class="btn btn-sm btn-outline-warning" onclick="addValue(20)">20 €</p>
                    <p class="btn btn-sm btn-outline-warning" onclick="addValue(50)">50 €</p>

                    <br>
                    <input type="submit" value="Save" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
{% endblock %}