{% extends 'drinks/base.html' %}
{% load crispy_forms_tags %}


{% block main_content %}
    <div class="container-fluid p-3">
        <div class="row">
            <div class="col">
                <h4>Editing drink {{ product.name }}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form enctype="multipart/form-data" action="{% url 'drink_edit' product.pk %}" method="post">
                    {% crispy f %}
                    <input type="submit" value="Save" class="btn btn-primary"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}