{% extends 'drinks/base.html' %}
{% load crispy_forms_tags %}

{% block main_content %}
    <div class="container-fluid mt-2">
        <div class="row">
            <div class="col">
                <h2>Count inventory of {{ product.name }}</h2>
                <p>
                    Enter how many bottles you counted in the inventory to calculate how many bottles got lost.
                </p>
                <form action="{% url 'drink_count' product.pk %}" method="post">
                    {% crispy f %}
                    {% include 'drinks/includes/bottle_shortcut.html' with target_id="id_bottles" %}
                    <br>
                    <input type="submit" value="Save" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
