{% extends 'drinks/base.html' %}

{% block main_content %}
    <div class="container-fluid p-3">
        <div class="row">
            <div class="col">
                <h1 class="d-inline">Drink management</h1>
                <a class="btn btn-sm btn-outline-info d-inline" href="{% url 'drink_recalc_stock' %}">recalculate
                    stock</a>
            </div>
            <div class="col">

            </div>
        </div>
        <div class="row">
            <div class="col">
                {% include 'drinks/includes/drinks_admin_ov.html' %}
            </div>

        </div>

        <div class="row">
            <div class="col">
                <a class="btn btn-outline-success btn-block" href="{% url 'drink_add' %}">Add drink</a>
            </div>
        </div>
    </div>
{% endblock %}