{% extends 'drinks/base.html' %}
{% load crispy_forms_tags %}

{% block main_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h2>Change the Price for <b>{{ product.name }}</b></h2>
                <form method="post" action="{% url 'drink_change_price' product.pk %}">
                    {% crispy f %}
                    <input type="submit" value="Save" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
{% endblock %}