{# supply with target_id to match #}
{% load static %}

<div>
    <script src="{% static 'drinks/bottle_shortcut.js' %}" type="application/javascript"></script>
    <p class="btn btn-sm btn-outline-warning" onclick="setValue('{{ target_id }}', 0)">0 Bottles</p>
    <p class="btn btn-sm btn-outline-warning" onclick="addValue('{{ target_id }}',1)">1 Bottle</p>
    <p class="btn btn-sm btn-outline-warning" onclick="addValue('{{ target_id }}',2)">2 Bottles</p>
    <p class="btn btn-sm btn-outline-warning" onclick="addValue('{{ target_id }}',4)">4 Bottles</p>
    <p class="btn btn-sm btn-outline-warning" onclick="addValue('{{ target_id }}',8)">8 Bottles</p>
    <p class="btn btn-sm btn-outline-warning" onclick="addValue('{{ target_id }}',16)">16 Bottles</p>
    <p class="btn btn-sm btn-outline-warning" onclick="addValue('{{ target_id }}',20)">20 Bottles</p>
</div>