{% load drinks %}
<div class="row">
    <div class="col">
        <div class="d-flex flex-row bd-highlight m-3 p-3 flex-wrap">
            {% for product in products %}

                <div class="card border-primary p-2 m-2 flex-fill ">
                    <img class="card-img-top drink-icon pt-1 m-auto" src="{% png_base64 product.image %}"
                         alt="<img:{{ product.name }}>">
                    <div class="card-body p-0">
                        <div class="container">
                            <div class="row">
                                <div class="col text-center mt-1">
                                    <b class="card-text">{{ product.name }}</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-auto">
                                    <p class="text-left">{{ product.current_price.amount|floatformat:2 }} €</p>
                                </div>
                                <div class="col">
                                    <p class="text-right">{{ product.stock }}</p>
                                </div>

                            </div>

                            <a href="{% url 'order_full' user.pk product.id %}" class="stretched-link"></a>
                        </div>
                    </div>

                </div>

            {% endfor %}
        </div>
    </div>

</div>

