{% load drinks %}
<table class="table table-responsive table-hover">
    <thead>
    <tr>
        <th>Product</th>
        <th>current price</th>
        <th>current stock</th>
        <th>change price</th>
        <th>restock</th>
        <th>count</th>
        <th>edit</th>
        <th>enable/disable</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
        {% if not product.active %}
            <tr class="table-dark">
                {% else %}
            <tr>
        {% endif %}

    <td>{{ product.name }}</td>
    <td>{{ product.current_price.name }}<br>{{ product.current_price.amount|floatformat:2 }} €</td>
    <td><b class="{% if product.stock <= 0 %} text-danger {% endif %}">{{ product.stock }}</td>
    <td><a class="btn btn-outline-primary" href="{% url 'drink_change_price' product.pk %}">change Price</a></td>
    <td><a class="btn btn-outline-primary" href="{% url 'drink_restock' product.pk %}">restock</a></td>
    <td><a class="btn btn-outline-primary" href="{% url 'drink_count' product.pk %}">count</a></td>
    <td><a class="btn btn-outline-primary" href="{% url 'drink_edit' product.pk %}">edit</a></td>
    <td>
        {% if product.active %}
            <a class="btn btn-outline-danger" href="{% url 'drink_toggle' product.pk %}">&#10799; disable product</a>
        {% else %}
            <a class="btn btn-success" href="{% url 'drink_toggle' product.pk %}">&#10003;enable product</a>
        {% endif %}
    </td>
    </tr>
    {% endfor %}

    </tbody>

</table>
