<table class="table table-responsive">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    {% for price in prices %}
        <tr>
            <td>{{ price.name }}</td>
            <td>
                {% if not price.descripton == "" %}
                    {{ price.description }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>{{ price.amount|floatformat:2 }} €</td>
            <td><a class="btn btn-outline-primary" href="{% url 'prices_edit' price.pk %}">edit</a></td>
        </tr>
    {% endfor %}

    </tbody>
</table>