<h5>flatmates</h5>
<hr>
{% if flatmates|length == 0 %}
    <p>no flatmates registered</p>
{% endif %}
<div class="row row-cols-lg-6 row-cols-md-4 row-cols-sm-3 py-3">
    {% for profile in flatmates %}

        <div class="col">
            <a class="btn btn-lg btn-block btn-outline-primary my-2"
               href="{% url url profile.pk %}">{{ profile.username }}</a>
        </div>

    {% endfor %}
</div>

<h5 class="mt-4">guests</h5>
<hr>
{% if guests|length == 0 %}
    <p>no guests registered</p>
{% endif %}

<div class="row row-cols-lg-6 row-cols-md-4 row-cols-sm-3">
    {% for profile in guests %}
        <div class="col">
            <a class="btn btn-lg btn-block btn-outline-primary my-2"
               href="{% url url profile.pk %}">{{ profile.username }}</a>
        </div>
    {% endfor %}
</div>