{% load drinks %}
<table class="table table-responsive table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>balance</th>
        <th>edit</th>
        <th>top up balance</th>
        <th>transfer money</th>

    </tr>
    </thead>
    <tbody>
    {% for profile in flatmates %}
        {% if not profile.active %}
            <tr class="table-dark">
                {% else %}
            <tr>
        {% endif %}

    <td>{{ profile.username }}</td>
    <td>
        <b class="{% if profile.balance <= 0 %} text-danger{% else %}text-success {% endif %}">{{ profile.balance|floatformat:2 }}
            €</b></td>
    <td><a class="btn btn-outline-primary" href="{% url 'user_edit' profile.pk %}">edit</a></td>
    <td><a class="btn btn-outline-primary" href="{% url 'user_pay' %}?target={{ profile.pk }}">pay</a></td>
    <td><a class="btn btn-outline-primary" href="{% url 'user_transfer' %}?source={{ profile.pk }}">transfer</a></td>

    </tr>
    {% endfor %}
    <tr>
        <td>Guests</td>
    </tr>
    {% for profile in guests %}
        {% if not profile.active %}
            <tr class="table-dark">
                {% else %}
            <tr>
        {% endif %}

    <td>{{ profile.username }}</td>
    <td>
        <b class="{% if profile.balance <= 0 %} text-danger{% else %}text-success {% endif %}">{{ profile.balance|floatformat:2 }}
            €</b></td>
    <td><a class="btn btn-outline-primary" href="{% url 'user_edit' profile.pk %}">edit</a></td>
    <td><a class="btn btn-outline-primary" href="{% url 'user_pay' %}?target={{ profile.pk }}">pay</a></td>
    <td><a class="btn btn-outline-primary" href="{% url 'user_transfer' %}?source={{ profile.pk }}">transfer</a></td>

    </tr>
    {% endfor %}

    </tbody>

</table>
