{% extends 'drinks/base.html' %}
{% load crispy_forms_tags %}

{% block main_content %}
    <div class="container-fluid p-3">
        <div class="row">
            <div class="col">
                <h3>adding new price class</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form method="post" action="{% url 'prices_add' %}">
                    {% crispy f %}
                    <input type="submit" value="Save" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
{% endblock %}