{% extends 'drinks/base.html' %}
{% block main_content %}
    <div class="container-fluid p-3">
        <div class="row">
            <div class="col">
                <h3>Price configuration</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% include 'drinks/includes/price_ov.html' %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a class="btn btn-block btn-outline-success" href="{% url 'prices_add' %}">add price</a>
            </div>
        </div>
    </div>
{% endblock %}